footer
	.container-fluid.footer_wrap
		.row.footer_row
			.footer_logo.col-sm-2
				a.logo-w
					img(src="img/ello-logo-w.png", alt="ello")
				.footer-hamburger-menu
					.footer-bar
			.footer-nav.col-sm-10
				ul.footer-nav_wrap
					li.footer-nav_item
						a(href="#") Главная
					li.footer-nav_item
						a(href="#") Видио
					li.footer-nav_item
						a(href="#") Аудио
					li.footer-nav_item
						a(href="#") Партнёрство
					li.footer-nav_item
						a(href="#") Продвижение
					li.footer-nav_item
						a(href="#") О компании
					li.footer-nav_item
						a(href="#") Контакты