header
	.container-fluid.top-menu
		.row.logo-row
			.col-xs-4
				a.logo(href="./index.html")
					img(src="img/ello-logo.png", alt="ello")
			.col-xs-4
				.hamburger-menu
					.bar
			.col-xs-4
				.enter
					a.enter_icon(href="#enter-form")
						i.fa.fa-sign-in
					a.enter_text(href="#enter-form") Войти
					select
						option(value="ru") Рус
						option(value="eng") Eng
		.row.menu-nav
			.menu-nav_box.col-xs-12.col-sm-10
				ul.menu-nav_wrap
					li.menu-nav_item
						a(href="./index.html") Главная
					li.menu-nav_item
						a(href="./video.html") Видио
					li.menu-nav_item
						a(href="#") Аудио
					li.menu-nav_item
						a(href="#") Партнёрство
					li.menu-nav_item
						a(href="#") Продвижение
					li.menu-nav_item
						a(href="#") О компании
					li.menu-nav_item
						a(href="./contacts.html") Контакты
			.menu-social.col-xs-12.col-sm-2
				ul.menu-social_wrap
					li.menu-social_item
						a(href="#")
							i.fa.fa-vk
					li.menu-social_item
						a(href="#")
							i.fa.fa-twitter
					li.menu-social_item
						a(href="#")
							i.fa.fa-instagram
					li.menu-social_item
						a(href="#")
							i.fa.fa-google-plus
