.container-fluid.main-content
	.row.features-wrap
		.col-lg-2.col-sm-4.col-xs-12
			.features.features--video
				img(src="./img/icons/video.png", alt="youtube")
				.features--text
					a(href="./video.html")
						h3 Видео
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		.col-lg-2.col-sm-4.col-xs-12
			.features.features--audio
				img(src="./img/icons/audio.png", alt="audio")
				.features--text
					a(href="#")
						h3 Аудио
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		.col-lg-2.col-sm-4.col-xs-12
			.features.features--private
				img(src="./img/icons/private.png", alt="account")
				.features--text
					a(href="#")
						h3 Личный кабинет
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		.col-lg-2.col-sm-4.col-xs-12
			.features.features--prodution
				img(src="./img/icons/production.png", alt="production")
				.features--text
					a(href="#")
						h3 Видео продакшн
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		.col-lg-2.col-sm-4.col-xs-12
			.features.features--promotion
				img(src="./img/icons/promotion.png", alt="promotion")
				.features--text
					a(href="#")
						h3 Раскрутка в соцсетях
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	.row.advantage
		h2 Информация о преимуществах
		.col-sm-6
			.advantage_item
				.row
					.col-sm-3.advantage_img
						img(src="./img/icons/youtube.png", alt="youtube")
					.col-sm-9.advantage_descr
						h4 Youtube Партнер
						p Размещение ваших видео на все видео площадки Ello в Youtube, вКонтакте, Одноклассниках, Mail.ru, Yandex Видео, Ello.tv, мобильные приложения на iOS/Android/Smart TV и другиe
		.col-sm-6
			.advantage_item
				.row
					.col-sm-3.advantage_img
						img(src="./img/icons/n1.png", alt="n1")
					.col-sm-9.advantage_descr
						h4 Продвижение
						p Размещение ваших видео на все видео площадки Ello в Youtube, вКонтакте, Одноклассниках, Mail.ru, Yandex Видео, Ello.tv, мобильные приложения на iOS/Android/Smart TV и другиe
	.row.advantage
		.col-sm-6
			.advantage_item
				.row
					.col-sm-3.advantage_img
						img(src="./img/icons/tv.png", alt="tv")
					.col-sm-9.advantage_descr
						h4 ТВ-Дистрибуция
						p Размещение ваших видео на все видео площадки Ello в Youtube, вКонтакте, Одноклассниках, Mail.ru, Yandex Видео, Ello.tv, мобильные приложения на iOS/Android/Smart TV и другиe
		.col-sm-6
			.advantage_item
				.row
					.col-sm-3.advantage_img
						img(src="./img/icons/producer.png", alt="producer")
					.col-sm-9.advantage_descr
						h4 Продюссерский центр
						p Размещение ваших видео на все видео площадки Ello в Youtube, вКонтакте, Одноклассниках, Mail.ru, Yandex Видео, Ello.tv, мобильные приложения на iOS/Android/Smart TV и другиe