.container-fluid.main-slider
	.row
		.slider-section
			.owl-carousel.new-slider
				.new-slide
					img(src='http://music.bigdig.com.ua/images/slider/slide1.jpg', alt='alt')
				.new-slide
					img(src='http://music.bigdig.com.ua/images/slider/slide6.jpg', alt='alt')
				.new-slide
					img(src='http://music.bigdig.com.ua/images/slider/slide5.jpg', alt='alt')
.container-fluid.music-sub
	.row
		.col-md-7.music-access
			ul
				li
					a(href="#")
						img(src="http://music.bigdig.com.ua/images/slider/ELLO-s.png", alt="ello")
				li
					a(href="#")
						img(src="http://music.bigdig.com.ua/images/slider/Google-Play.png", alt="google play")
				li
					a(href="#")
						img(src="http://music.bigdig.com.ua/images/slider/iTunes.png", alt="itunes")
		.col-md-5.music-text
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, eos. Lorem ipsum dolor sit amet, consectetur