.container-fluid.main-slider
	.row
		.slider-section
			.owl-carousel.new-slider
				.new-slide
					img(src='./img/slider/slide1.jpg', alt='slide')
				.new-slide
					img(src='./img/slider/slide4.jpg', alt='slide')
				.new-slide
					img(src='./img/slider/slide5.jpg', alt='slide')
				.new-slide
					img(src='./img/slider/slide6.jpg', alt='slide')
.container-fluid.music-sub
	.row.music-row
		.col-md-7.music-access
			ul
				li
					a(href="#")
						img(src="./img/ello-shop.png", alt="ello")
				li
					a(href="#")
						img(src="./img/google-play.png", alt="google play")
				li
					a(href="#")
						img(src="./img/itunes.png", alt="itunes")
		.col-md-5.music-text
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, eos. Lorem ipsum dolor sit amet, consectetur