.container-fluid.inside-us
	.col-md-6.col-md-offset-1.col-sm-12
		.inside-us-wrap
			h1 Лучший способ распространять видео для интернет-пользователей
			p Присоединяйся к нашему успешному и независимому сообществу
			ul
				li Зарабатывай на своем творчестве
				li Распространи видио всего в два клика на популярных платформах
				li Найди новых поклонников
			.btn-wrapp
				a.buttons.to-form(href='#enter-form') Разместить видео