doctype html
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->
html(lang='ru')
	head
		meta(charset='utf-8')
		title My ELLO
		meta(name='description', content='')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		// build:css css/vendor.css
		// bower:css
		// endbower
		// endbuild
		// build:css css/common.css
		link(rel="stylesheet", href="css/main.css")
		// endbuild
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
	body
		.body-wrapper
			//- include exemple
			include ./templates/header.jade
			include ./templates/main.jade
			include ./templates/footer.jade

		<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
		<script src="http://html5shiv-printshiv.googlecode.com/svn/trunk/html5shiv-printshiv.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
		<![endif]-->
		// build:js scripts/vendor.js
		// bower:js
		// endbower
		// endbuild
		// build:js scripts/common.js
		script(src="js/main.js")
		// endbuild