/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.main-content .features-wrap
		justify-content: center


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)

	.menu-nav_wrap .menu-nav_item
		margin-right: 10px

	.menu-social_wrap .menu-social_item
		margin-right: 5px

	.music-access
		margin-bottom: 25px

	.music-access ul
		text-align: center

@media only screen and (max-width : 812px)
	.menu-social_wrap .menu-social_item
		margin-right: 3px

	.top-menu .hamburger-menu
		display: block

	.menu-nav
		display: none

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.menu-social .menu-social_wrap, .menu-nav .menu-nav_wrap
		text-align: center

	.menu-social
		margin-bottom: 10px

	.menu-nav_wrap .menu-nav_item
		margin-bottom: 10px

	.menu-social_wrap .menu-social_item
		margin-right: 50px

	.menu-nav .menu-nav_item
		display: block

	footer .footer_logo .footer-hamburger-menu
		display: block


	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.enter .enter_text
		display: none

	.enter .enter_icon i
		display: block
		left: -80px

	footer .footer-nav_wrap
		margin-top: 20px

@media only screen and (max-width : 350px)
	.enter select
		display: none

	.enter .enter_icon i
		display: block
		left: -25px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/

@media only screen and (min-width : 813px)
	.menu-nav
		display: block !important

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/